* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    height: 100vh;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 20s ease infinite;
	background-size: 400% 400%;
}

.calculator {
    padding: 1%;
    width: 350px;
    border-radius: 5px;
    background: #ffffff;
}

.calculator .screen-container {
    width: 100%;
    height: 50px;
}

.calculator .screen-container input {
    width: 100%;
}

.calculator .screen-container input {
    height: 100%;
    border-radius: 5px;
}

.calculator .calculator-body {
    padding-top: 20px;
}

.calculator .calculator-body .row {
    display: flex;
    padding-bottom: 10px;
    align-items: flex-start;
    justify-content: space-between;
}

.calculator .calculator-body .row .btn {
    width: 21%;
    border: none;
    height: 35px;
    font-weight: 700;
    border-radius: 5px;
}

.calculator .calculator-body .row .column {
    width: 73%;
}

.calculator .calculator-body .row .column .row .btn {
    width: 46%;
    font-weight: 700;
}

.calculator .calculator-body .row .column .row .delete-btn {
    color: #ffffff;
    font-weight: 700;
    background: #F50258
}

.calculator .calculator-body .row .column .row .equal-btn {
    color: #ffffff;
    background: #23d5ab
}

.calculator .calculator-body .row .add-btn {
    width: 21%;
    border: none;
    height: 80px;
    border-radius: 5px;
}

